/***
Generals
*/

.no-radius {
    border-radius: 0 !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.spinner {
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}